.chartTemplate {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 6px;

  margin: 6px;
  border: 1px solid black;
}

.chartTemplate .filters {
  height: 80px;
}

.chartTemplate .chart_cont {
  flex: 1;
}
